<!--utf8编码-->
<html>
<head>
<title>用户登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head>

<body>
<h1>嵌入式系统实验室</h1>
<h2><div align="right">Embedded System Laboratory</div></h2>
<hr>
<div><a href="/eslab/index/home">首页</a> | <a href="/eslab/user/register">注册</a> | 登录</div>
<hr>
<h2> 用户登录 </h2>
<form name="user" action="/eslab/user/processlogin" method="post">
<div style="height:30px">用户帐号：<input type="text" name="username" id="username" maxlength="100"></div>
<div style="height:30px">输入密码：<input type="password" name="password" id="password" maxlength="100"></div>
<div style="height:30px"><input type="reset" value="重置" id="reset"> <input type="submit" value="登录" id="submit"></div>
</form>
<hr>
<h3><div align="center">湖北师范学院物电学院电工电子实验中心</div></h3>
<h3><div align="center">CopyRight @ 2013.10</div></h3>
</body>
</html>